{% extends "base_generic.html" %}

{% load staticfiles %}

{% block content %}

{% verbatim %}
    <div class="row" data-ng-controller="DeparturesController as depCtrl">

        <div class="col-sm-12 main">


            <h2 class="sub-header">
                <img data-ng-class="{'loading': depCtrl.loading}" src="/static/img/dlr.svg" type="image/svg+xml"
                     style="vertical-align: text-bottom;" width="45"/>
                East India Electronic Passenger Locomotive Departures Timetable
                <!--<span us-spinner="{left:80}" spinner-key="departuresSpinner"></span>-->
            </h2>

        </div>

        <div class="col-md-12">
            <div class="pull-right">
                Last refresh: <span am-time-ago="depCtrl.lastRefresh"></span>
            </div>
        </div>

        <div class="col-xs-12 col-sm-12 col-md-6">

            <div class="row">

                <div class="col-xs-12">
                    <h3>Westbound</h3>
                </div>

                <div data-ng-repeat-start="train in depCtrl.departuresWest" class="col-xs-6 col-sm-5 col-md-5">
                    <div style="line-height: 50px; font-size: 1.4em; padding-left: 5px;">{{ train.destination }}</div>
                </div>
                <div class="col-xs-6 col-sm-3 col-md-3 no-padding">
                    <span style="line-height: 50px; font-size: 1.3em;" am-time-ago="train.eta"></span>
                </div>
                <div class="col-xs-6 col-sm-4 col-md-4" data-ng-repeat-end>
                    <div data-ng-repeat="(username, code) in train.willHeMakeIt">
                        <div class="pull-right img-circle text-center"
                             style="padding-top: 10px; font-size: 1.7em; color:#fff; line-height: 50px; margin: 4px 4px; height: 50px; width:50px;"
                             background-image="//graph.facebook.com/{{username}}/picture?width=50">
                            <i data-ng-class="{'will-make-it fa-thumbs-up': depCtrl.willMakeIt(code), 'might-make-it fa-rocket': depCtrl.mightMakeIt(code), 'wont-make-it fa-thumbs-down': depCtrl.wontMakeIt(code)}"
                               class="fa"></i>
                        </div>
                    </div>
                </div>

            </div>


        </div>
        <div class="col-xs-12 col-sm-12 col-md-6">

            <div class="row">

                <div class="col-xs-12">
                    <h3>Eastbound</h3>
                </div>

                <div data-ng-repeat-start="train in depCtrl.departuresEast" class="col-xs-6 col-sm-5 col-md-5">
                    <div style="line-height: 50px; font-size: 1.4em; padding-left: 5px;">{{ train.destination }}</div>
                </div>
                <div class="col-xs-6 col-sm-3 col-md-3 no-padding">
                    <span style="line-height: 50px; font-size: 1.3em;" am-time-ago="train.eta"></span>
                </div>
                <div class="col-xs-6 col-sm-4 col-md-4" data-ng-repeat-end>
                    <div data-ng-repeat="(username, code) in train.willHeMakeIt">
                        <div class="pull-right img-circle text-center"
                             style="padding-top: 10px; font-size: 1.7em; color:#fff; line-height: 50px; margin: 4px 4px; height: 50px; width:50px;"
                             background-image="//graph.facebook.com/{{username}}/picture?width=50">
                            <i data-ng-class="{'will-make-it fa-thumbs-up': depCtrl.willMakeIt(code), 'might-make-it fa-rocket': depCtrl.mightMakeIt(code), 'wont-make-it fa-thumbs-down': depCtrl.wontMakeIt(code)}"
                               class="fa"></i>
                        </div>
                    </div>
                </div>

            </div>
        </div>

        <div data-ng-controller="BikesCtrl as bikesCtrl">
            <div class="col-xs-6" style="line-height: 50px; font-size: 1.4em;">
                <h3>Cycle Hire</h3>
                <div style="padding-left: 5px;">
                    {{ bikesCtrl.numberOfBikes }} / {{ bikesCtrl.numberOfSlots }} bikes available
                </div>
            </div>
        </div>

        <!--<div class="col-xs-12">-->
        <!--<pre>{{ depCtrl | json }}</pre>-->
        <!--<script type="text/javascript"> moWWidgetParams="moAllowUserLocation:false~moBackgroundColour:black~moColourScheme:green~moDays:3~moDomain:www.metoffice.gov.uk~moFSSI:352409~moListStyle:vertical~moMapDisplay:none~moShowFeelsLike:true~moShowUV:true~moShowWind:true~moSpecificHeight:275~moSpecificWidth:300~moSpeedUnits:M~moStartupLanguage:en~moTemperatureUnits:C~moTextColour:white~moGridParams:weather,temperature,wind,uv,pop~"; </script><script type="text/javascript" src="http://www.metoffice.gov.uk/public/pws/components/yoursite/loader.js"> </script>-->
        <!--</div>-->


    </div>
    {% endverbatim %}
{% endblock %}

{% block scripts %}
    {{ block.super }}
    <script type="text/javascript" src="{% static 'js/departures.service.js' %}"></script>
    <script type="text/javascript" src="{% static 'js/back-img.directive.js' %}"></script>
    <script type="text/javascript" src="{% static 'js/departures.ctrl.js' %}"></script>
    <script type="text/javascript" src="{% static 'js/bikes.ctrl.js' %}"></script>
    <script type="text/javascript" src="{% static 'lodash/lodash.js' %}"></script>
{% endblock %}