{% extends "base_generic.html" %}

{% load staticfiles %}

{% block css %}
    {{ block.super }}
{% endblock %}

{% block content %}

{% verbatim %}
    <div class="row" data-ng-controller="ScreenToggleCtrl as stCtrl">

        <div class="col-sm-12 text-center" style="padding: 20px;">

            <div class="alert alert-info" data-ng-show="stCtrl.loading" role="alert">Loading status...</div>
            <div class="alert alert-info" data-ng-show="stCtrl.message" role="alert">{{ stCtrl.message }}</div>
            <div class="alert alert-danger" data-ng-show="stCtrl.error" role="alert">Could not determine screen status!</div>

            <h3>Screen</h3><div data-toggle-switch data-ng-change="stCtrl.toggleScreen()" data-ng-model="stCtrl.screenStatus"></div>

            <pre>{{ stCtrl | json }}</pre>
        </div>
    </div>

{% endverbatim %}
{% endblock %}

{% block scripts %}
    {{ block.super }}
    <script type="text/javascript" src="{% static 'js/screen-toggle.ctrl.js' %}"></script>
    <script type="text/javascript" src="{% static 'js/screen.service.js' %}"></script>
    <script type="text/javascript" src="{% static 'lodash/lodash.js' %}"></script>
{% endblock %}